# Assignment :

In [3]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
df = pd.read_csv("car_data.csv")
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

# 1. How many rows and columns are in the dataset?

In [121]:
rows, columns = df.shape
print(f"1. The dataset has {rows} rows and {columns} columns.")

1. The dataset has 301 rows and 9 columns.

# 2. What are the data types of each column?

In [8]:
print(" \n 2. Data types : \n\n" , df.dtypes)
#df.info()

 2. Data types :

 Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

# 3. Are there any missing values in the dataset?

In [10]:
print(" \n 3. Null Value : \n\n" ,df.isnull().sum())
#df.isnull().values.any()

 3. Null Value :

 Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

# 4. Are there any duplicate records?

In [17]:
print(" 4.  Duplicate records : " ,df.duplicated().sum())

 4.  Duplicate records :  2

In [19]:
df[df.duplicated()]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
17,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
93,fortuner,2015,23.00,30.61,40000,Diesel,Dealer,Automatic,0

In [21]:
df[df.duplicated(keep=False)]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
15,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
17,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
51,fortuner,2015,23.00,30.61,40000,Diesel,Dealer,Automatic,0
93,fortuner,2015,23.00,30.61,40000,Diesel,Dealer,Automatic,0

# 5. What are the unique values in the Fuel_Type, Seller_Type, and Transmission columns?

In [24]:
print(" \n 5. unique Values  in the Fuel_Type, Seller_Type, and Transmission columns :\n" )
print("Unique values in Fuel_Type :", df['Fuel_Type'].unique())
print("Unique values in Seller_Type :", df['Seller_Type'].unique())
print("Unique values in Transmission :", df['Transmission'].unique())

 5. unique Values  in the Fuel_Type, Seller_Type, and Transmission columns :

Unique values in Fuel_Type : ['Petrol' 'Diesel' 'CNG']
Unique values in Seller_Type : ['Dealer' 'Individual']
Unique values in Transmission : ['Manual' 'Automatic']

# 6. What is the average, maximum, and minimum Selling_Price?

In [27]:
average_price = df['Selling_Price'].mean()
max_price = df['Selling_Price'].max()
min_price = df['Selling_Price'].min()

print("\n 6. The Average, Maximum and Minimum Selling price are :\n" )
print(f"Average Selling Price is $ {average_price}")
print(f"Maximum Selling Price is $ {max_price}")
print(f"Minimum Selling Price is $ {min_price}")

 6. The Average, Maximum and Minimum Selling price are :

Average Selling Price is $ 4.661295681063123
Maximum Selling Price is $ 35.0
Minimum Selling Price is $ 0.1

# 7. What is the average Selling_Price by Fuel_Type?

In [30]:
avg_price_by_fuel = df.groupby('Fuel_Type')['Selling_Price'].mean()
print("\n 7. The average Selling price by Fuel types : \n\n" , avg_price_by_fuel)

 7. The average Selling price by Fuel types :

 Fuel_Type
CNG        3.100000
Diesel    10.278500
Petrol     3.264184
Name: Selling_Price, dtype: float64

# 8. What is the average Selling_Price by Transmission type?

In [33]:
avg_price_by_transmission = df.groupby('Transmission')['Selling_Price'].mean()
print("\n 8. The average Selling price by Transmission types : \n\n" ,avg_price_by_transmission)

 8. The average Selling price by Transmission types :

 Transmission
Automatic    9.420000
Manual       3.931992
Name: Selling_Price, dtype: float64

# 9. Which car model appears most frequently?

In [36]:
most_common_model = df['Car_Name'].value_counts().idxmax()
most_common_count = df['Car_Name'].value_counts().max()

print(f" \n 9. The most frequently car model is '{most_common_model}' with {most_common_count} occurrences.")

 9. The most frequently car model is 'city' with 26 occurrences.

In [38]:
df['Car_Name'].value_counts().head()

Car_Name
city             26
corolla altis    16
verna            14
fortuner         11
brio             10
Name: count, dtype: int64

# 10. What is the average Selling_Price for each car model?

In [41]:
avg_price_by_model = df.groupby('Car_Name')['Selling_Price'].mean().sort_values(ascending=False)
print(f" \n 10. The average Selling_Price for each car model : \n\n" , avg_price_by_model)

 10. The average Selling_Price for each car model :

 Car_Name
land cruiser           35.000000
fortuner               18.685455
innova                 12.777778
creta                  11.800000
elantra                11.600000
                         ...
Hero  CBZ Xtreme        0.200000
Hero Hunk               0.200000
Hero Super Splendor     0.200000
Bajaj  ct 100           0.180000
Bajaj Discover 125      0.175000
Name: Selling_Price, Length: 98, dtype: float64

# 11. What is the range of years in the dataset (min and max Year)?

In [44]:
min_year = df['Year'].min()
max_year = df['Year'].max()

print(f"\n 11. The range of years (min and max Year) : \n")
print(f"Minimum Year: {min_year}")
print(f"Maximum Year: {max_year}")

 11. The range of years (min and max Year) :

Minimum Year: 2003
Maximum Year: 2018

# 12. What is the average Selling_Price grouped by Year?

In [47]:
avg_price_by_year = df.groupby('Year')['Selling_Price'].mean().sort_index()
print("\n 12. The average Selling price by Year : \n\n" , avg_price_by_year)

 12. The average Selling price by Year :

 Year
2003    1.300000
2004    1.500000
2005    2.487500
2006    1.437500
2007    0.160000
2008    1.002857
2009    2.816667
2010    5.262667
2011    2.375263
2012    3.841304
2013    3.540909
2014    4.762105
2015    5.927049
2016    5.213200
2017    6.209143
2018    9.250000
Name: Selling_Price, dtype: float64

# 13. What is the most common number of owners (from the Owner column)?

In [50]:
most_common_owner = df['Owner'].value_counts().idxmax()
most_common_count = df['Owner'].value_counts().max()

print(f"\n 13. The most common number of owners is: {most_common_owner} (appears {most_common_count} times)")

 13. The most common number of owners is: 0 (appears 290 times)

In [52]:
df['Owner'].value_counts()

Owner
0    290
1     10
3      1
Name: count, dtype: int64

# 14. What is the average number of kilometers driven (Kms_Driven)?

In [55]:
average_kms = df['Kms_Driven'].mean()
print(f"\n 14. Average Kms Driven: {average_kms:.2f}")

 14. Average Kms Driven: 36947.21

# 15. Which car has the highest Present_Price?

In [58]:
max_price_row = df[df['Present_Price'] ==  df['Present_Price'].max()]
print(f"\n 15. The highest Present_Price of car : \n\n " , max_price_row)

 15. The highest Present_Price of car :

          Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
86  land cruiser  2010           35.0           92.6       78000    Diesel

   Seller_Type Transmission  Owner
86      Dealer       Manual      0

# 16. What is correlation between Selling_Price, Present_Price, and Kms_Driven?

In [61]:
correlation = df[['Selling_Price', 'Present_Price', 'Kms_Driven']].corr()
print(f"\n 16. The correlation between Selling_Price, Present_Price, and Kms_Driven : \n\n " , correlation)

 16. The correlation between Selling_Price, Present_Price, and Kms_Driven :

                 Selling_Price  Present_Price  Kms_Driven
Selling_Price       1.000000       0.878983    0.029187
Present_Price       0.878983       1.000000    0.203647
Kms_Driven          0.029187       0.203647    1.000000

# 17. Which Seller_Type has the highest average Selling_Price?

In [954]:
avg_price_by_seller = df.groupby('Seller_Type')['Selling_Price'].mean().sort_values(ascending = False)
print(f"\n 17. Seller_Type has the highest average Selling_Price : \n\n ", avg_price_by_seller)

 17. Seller_Type has the highest average Selling_Price :

  Seller_Type
Dealer        6.721692
Individual    0.870943
Name: Selling_Price, dtype: float64

# 18. How many cars are there of each Fuel_Type?

In [64]:
fuel_counts = df['Fuel_Type'].value_counts()
print(f"\n 18. No. of Cars based on there fuel_types : \n\n", fuel_counts)

 18. No. of Cars based on there fuel_types :

 Fuel_Type
Petrol    239
Diesel     60
CNG         2
Name: count, dtype: int64

# 19. How many cars have more than one previous owner?

In [67]:
cars_more_than_one_owner = df[df['Owner'] > 1]
count = cars_more_than_one_owner.shape[0]

print(f"\n 19. Number of cars with more than one previous owner : {count}\n")
print(cars_more_than_one_owner[['Car_Name', 'Year', 'Owner', 'Selling_Price']])

 19. Number of cars with more than one previous owner : 1

   Car_Name  Year  Owner  Selling_Price
85    camry  2006      3            2.5

# 20. What are the top 5 most expensive cars in the dataset?

In [70]:
top_5_expensive = df.sort_values(by='Selling_Price', ascending=False).head(5)
print(f"\n 20. The top 5 most expensive cars :\n\n ", top_5_expensive)

 20. The top 5 most expensive cars :

          Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
86  land cruiser  2010           35.0          92.60       78000    Diesel
64      fortuner  2017           33.0          36.23        6000    Diesel
63      fortuner  2015           23.5          35.96       47000    Diesel
82        innova  2017           23.0          25.39       15000    Diesel
51      fortuner  2015           23.0          30.61       40000    Diesel

   Seller_Type Transmission  Owner
86      Dealer       Manual      0
64      Dealer    Automatic      0
63      Dealer    Automatic      0
82      Dealer    Automatic      0
51      Dealer    Automatic      0

# 21. What is the average difference between Present_Price and Selling_Price?

In [73]:
average_difference = (df['Present_Price'] - df['Selling_Price']).mean()
print(f" \n 21. Average difference between Present_Price and Selling_Price : {average_difference:.2f}")

 21. Average difference between Present_Price and Selling_Price : 2.97

# 22. How many cars are being sold by individual sellers vs dealers?

In [89]:
seller_counts = df['Seller_Type'].value_counts()
print(f" \n 22. Number of cars are being sold by individual sellers vs dealers : \n\n  " ,seller_counts)

 22. Number of cars are being sold by individual sellers vs dealers :

   Seller_Type
Dealer        195
Individual    106
Name: count, dtype: int64

# 23. How many cars were manufactured before 2010?

In [92]:
count = cars_before_2010.shape[0]
print(f"23. Total number of cars manufactured before 2010 : {count}")

23. Total number of cars manufactured before 2010 : 26

In [94]:
cars_before_2010 = df[df['Year'] < 2010][['Year', 'Car_Name']]
print(cars_before_2010)

     Year                   Car_Name
14   2009                      dzire
37   2003                        800
39   2003                        sx4
42   2008                        sx4
47   2006                    wagon r
54   2005                     innova
55   2009              corolla altis
77   2004                    corolla
84   2005                     innova
85   2006                      camry
90   2009              corolla altis
92   2005                     innova
94   2008              corolla altis
125  2009  Royal Enfield Classic 500
184  2008           Bajaj Pulsar 150
185  2008          Suzuki Access 125
189  2005        Hero Super Splendor
190  2008           Bajaj Pulsar 150
192  2007                  Hero Hunk
194  2008           Hero  CBZ Xtreme
196  2008                  Activa 3g
199  2007             Honda CB Shine
200  2006           Bajaj Pulsar 150
271  2009                       city
281  2006                       city
298  2009                       city

# 24. Which year has the highest number of car listings?

In [97]:
most_listings_year = df['Year'].value_counts().idxmax()
listing_count = df['Year'].value_counts().max()

print(f"24. The year with the highest number of car listings is {most_listings_year} with {listing_count} listings.")

24. The year with the highest number of car listings is 2015 with 61 listings.

# 25. What percentage of cars are using diesel vs petrol vs CNG?

In [100]:
fuel_percentages = df['Fuel_Type'].value_counts(normalize=True) * 100
print(f" 25. Total Number of percentage of cars are using diesel vs petrol vs CNG : \n\n", fuel_percentages)

 25. Total Number of percentage of cars are using diesel vs petrol vs CNG :

 Fuel_Type
Petrol    79.401993
Diesel    19.933555
CNG        0.664452
Name: proportion, dtype: float64

# 26. What is the highest and lowest Kms_Driven for each fuel type?

In [103]:
kms_stats_by_fuel = df.groupby('Fuel_Type')['Kms_Driven'].agg(['min', 'max'])
print(f" 26. the highest and lowest Kms_Driven for each fuel type : \n" , kms_stats_by_fuel)

 26. the highest and lowest Kms_Driven for each fuel type :
              min     max
Fuel_Type
CNG        35500   49998
Diesel      2071  197176
Petrol       500  500000

# 27. How many cars were sold with exactly 0 previous owners?

In [106]:
zero_owner_count = df[df['Owner'] == 0].shape[0]
print(f" 27. Number of cars with 0 previous owners: {zero_owner_count}")

 27. Number of cars with 0 previous owners: 290

# 28. How many unique combinations of Fuel_Type, Seller_Type, and Transmission exist?

In [109]:
unique_combinations = df[['Fuel_Type', 'Seller_Type', 'Transmission']].drop_duplicates()
count_unique_combinations = unique_combinations.shape[0]

print(f" 28. Number of unique combinations of Fuel_Type, Seller_Type, and Transmission : {count_unique_combinations}")

 28. Number of unique combinations of Fuel_Type, Seller_Type, and Transmission : 8

In [111]:
print("Details of those unique combinations : \n")
print( unique_combinations.reset_index(drop=True))

Details of those unique combinations :

  Fuel_Type Seller_Type Transmission
0    Petrol      Dealer       Manual
1    Diesel      Dealer       Manual
2    Petrol      Dealer    Automatic
3       CNG      Dealer       Manual
4    Petrol  Individual       Manual
5    Diesel      Dealer    Automatic
6    Diesel  Individual    Automatic
7    Petrol  Individual    Automatic

# 29. What is the average Selling_Price of cars that have more than 2 previous owners?

In [114]:
avg_price_more_than_2_owners = df[df['Owner'] > 2]['Selling_Price'].mean()
print(f"\n 29. Average Selling_Price for cars with more than 2 previous owners: {avg_price_more_than_2_owners :.2f}")

 29. Average Selling_Price for cars with more than 2 previous owners: 2.50

# 30. Are there any cars where Selling_Price is greater than Present_Price?

In [117]:
higher_selling_price = df[df['Selling_Price'] > df['Present_Price']]
count = higher_selling_price.shape[0]

print(f"\n 30. Number of cars where Selling_Price > Present_Price : {count}")

 30. Number of cars where Selling_Price > Present_Price : 0